* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 0.5em;
  display: flex;
  gap: 1ch;
  justify-content: space-evenly;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  font-style: italic;
}

nav a.active {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 10rem;

  padding-left: 2rem;
  padding-right: 2rem;

  margin-top: 1rem;
}

article {
  flex: 1;

  text-transform: uppercase;
  color: white;
  font-size: 25rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background: #b05f6d;
  color: white;
}

.blue {
  background: #275db3;
  color: white;
}
